name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
      - main

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Set API
        run: (cd api && npm install)
      - name: Set Web
        run: (cd web && npm install)
      - name: Set firebase
        run: |
          npm install -g firebase-tools
          firebase experiments:enable webframeworks

      - name: Lint Check
        run: (cd api && npm run lint:check)
      - name: Unit Test
        run: (cd api && npm run test)
      - name: E2E Test
        run: (cd api && npm run test:e2e)
